.DS_Store
*~
*.swp
*.dSYM
/scm
.deps
.libs
*.o
*.lo
*.la
*.m4
*.log
*.trs
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
m4
autom4te.cache
configure
Makefile
Makefile.in
